
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
}
.calender{
    --vdp-bg-color	: #f06;
    --vdp-bg-color	:#fff;	                           /* color */
    --vdp-text-color:#000;	                           /*color */
    --vdp-box-shadow: 0 4px 10px 0 rgba(128, 144, 160, 0.1), 0 0 1px 0 rgba(128, 144, 160, 0.81);	/* shadow */
    --vdp-border-radius:3px;	                        /* size*/
    --vdp-heading-size:2.5em;	                        /* size*/
    --vdp-heading-weight:bold;	                        /* weight*/
    --vdp-heading-hover-color:#eeeeee;	               /* color*/
    --vdp-arrow-color:black;	                       /* color*/
    --vdp-elem-color:black;	                       /* color*/
    --vdp-disabled-color:#d5d9e0;	                   /* color*/
    --vdp-hover-color:#fff;	                       /* color*/
    --vdp-hover-bg-color:#0baf74;	                   /* color*/
    --vdp-selected-color:#fff;	                       /* color*/
    --vdp-selected-bg-color:#0baf74;	               /* color*/
    --vdp-current-date-outline-color:#888888;         /* color*/
    --vdp-current-date-font-weight:bold;	            /* weight*/
    --vdp-elem-font-size:0.8em;	                        /* size*/
    --vdp-elem-border-radius:3px;       	            /* size*/
    --vdp-divider-color:#d5d9e0;	                   /* color */
    --popout-column-definition: repeat(7, 1fr);
}
// ------------------------------ Global SCSS ------------------------------

